@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
}

.header, .footer {
    background: #1F2937;
    display: flex;
}

.header {
    flex-direction: column;
    color: #F9FaF8;
    justify-content: center;

    height: 540px;
}

.header_top {
    display: flex;
    justify-content: space-between;

}


.logo {
    font-size: 24px;
    font-weight: 900;

    padding-right: 418px;
    margin: auto;
}

.header_menu {
        list-style: none;
        display: flex;
        align-self: flex-end;
        margin-right: 82px;

        gap: 12px;
}

.header_menu > li > a, .message p{
    text-decoration: none;
    color: #E5E7EB;
}

.welcome {
    display: flex;
    margin: auto;

    
    justify-content: space-between;
}

.message {
    width: 460px;
}

.message h1{
    font-size: 48px;
}

.message>p {
    margin-top: -28px;
    font-weight: 300;
    font-size: 18px;
}

.placeholder    {
    width: 500px;
    height: 260px;
    background: #778899;
    align-content: center;
    text-align: center;

    margin: 40px;
}

.banner , button {
    background: #3882F6;
}

.welcome button {
    border: #3882F6;
    border-radius: 8px;

    height: 35px;
    width: 120px;
    font-weight: 800;
    color: #F9FaF8;
}

.banner button {
    border-color: #Ffffff;
    color: #F9FaF8;
    border-width: 2px;
    border-radius: 6px;
    font-weight: 800;

    height: 32px;
    width: 140px;
    align-self: center;
    margin-right: 90px;
    margin-left: auto;
}

.banner {
    margin:130px;
    border-radius: 6px;
    height: 120px;

    display: flex;
}

.banner .text {
    color: #F9FaF8;
    align-self: center;
    
    margin-left: 70px;
}

.text p {
    font-weight: lighter;
    margin-top: -20px;
}
